# Copy this file to .env and fill in your NeonDB connection string
DATABASE_URL="postgresql://neondb_owner:npg_T7XqwIypv3lG@ep-crimson-queen-ah79mg8k-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
