# Node
node_modules/

# Build output
dist/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage & test
coverage/
*.snap

# IDEs & editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Prisma dev DB (if present)
prisma/dev.db

# Prisma client build artifacts
node_modules/.prisma/