@import "tailwindcss";
@source "../**/*.{ts,tsx}";


:root {
  --radius: 0.65rem;
  --background: #fffbf8;
  --foreground: #242424;
  --card: #ffffff;
  --card-foreground: #242424;
  --popover: #ffffff;
  --popover-foreground: #242424;
  --primary: #6c6bc7;
  --primary-foreground: #f1f5fc;
  --secondary: #242424;
  --secondary-foreground: #f6f6f6;
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: #242424;
  --success: #5e929f;
  --destructive: #ca5541;
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: var(--primary);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-accent: var(--background);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-poppins: var(--font-poppins);
  --font-lora: var(--font-lora);

  --semantic-rose-pink-soft: #e792a6;
  --semantic-earth-yellow-gold: #a08c33;
  --semantic-deep-steel-blue: #305065;
  --semantic-light-taupe: #c4b7a4;
}

.dark {
  --background: #1a1a1a;
  --foreground: #f6f6f6;
  --card: #242424;
  --card-foreground: #f6f6f6;
  --popover: #242424;
  --popover-foreground: #f6f6f6;
  --primary: #7e7de3;
  --primary-foreground: #f0f3fd;
  --secondary: #fffbf8;
  --secondary-foreground: #fffbf8;
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(21.78% 0 0);
  --accent-foreground: oklch(99.03% 0.006 59.65);
  --destructive: #ec644c;
  --success: #74b5c5;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--primary);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(57.23% 0.139 281.57);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-accent: var(--background);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-poppins: var(--font-poppins);
  --font-lora: var(--font-lora);
}

@theme inline {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 744px;
  --breakpoint-desktop: 1280px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success: var(--success);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --font-poppins: var(--font-poppins);
  --font-lora: var(--font-lora);
  --color-semantic-rose-pink-soft: var(--semantic-rose-pink-soft);
  --color-semantic-earth-yellow-gold: var(--semantic-earth-yellow-gold);
  --color-semantic-deep-steel-blue: var(--semantic-deep-steel-blue);
  --color-semantic-light-taupe: var(--semantic-light-taupe);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply min-h-[100dvh];
    font-family: var(--font-poppins);
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-muted-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

@utility prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-muted-foreground);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: var(--color-muted-foreground);
  --tw-prose-quotes: var(--color-muted-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-muted-foreground);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-background);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-invert-body: var(--color-foreground);
  --tw-prose-invert-headings: var(--color-foreground);
  --tw-prose-invert-lead: var(--color-muted-foreground);
  --tw-prose-invert-links: var(--color-primary);
  --tw-prose-invert-bold: var(--color-foreground);
  --tw-prose-invert-counters: var(--color-foreground);
  --tw-prose-invert-bullets: var(--color-foreground);
  --tw-prose-invert-hr: var(--color-muted-foreground);
  --tw-prose-invert-quotes: var(--color-muted-foreground);
  --tw-prose-invert-quote-borders: var(--color-border);
  --tw-prose-invert-captions: var(--color-muted-foreground);
  --tw-prose-invert-code: var(--color-foreground);
  --tw-prose-invert-pre-code: var(--color-foreground);
  --tw-prose-invert-pre-bg: var(--color-background);
  --tw-prose-invert-th-borders: var(--color-border);
  --tw-prose-invert-td-borders: var(--color-border);
}

.thin-scrollbar {
  scrollbar-width: thin;
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  height: 4px;
  background: transparent;
}